
@{
    ViewData["Title"] = "Book Trading Club";
}

<div>
    <form method="post">
        <fieldset>
            <legend>Sign in</legend>
            <label> username </label>
            <br />
            <input placeholder="username" />
            <br />
            <label> password </label>
            <br />
            <input type="password" />
            <br />
            <button>Submit</button>
        </fieldset>
    </form>
</div>

